@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.navBtn img {
  height: 30px;
}
.banner-section img {
  height: 80vh;
  object-fit: cover;
}
.xrounded {
  border-radius: 20px;
}
.special-card {
  transform: translateY(-20px);
}
.special-card .new {
  transform: translate(10px, -10px);
}
footer {
  height: 200px;
}
